.post-type-archive-portfolio {
	.page-title {
		span.smaller {
			display: none;
		}
	}
}
.archive-list {
	article.portfolio {
		min-height: 99vh;
		display: flex;
		align-items: center;
		-webkit-mask-image: linear-gradient(transparent 0, black 7em);
		mask-image: linear-gradient(transparent 0, black 7em);
		-webkit-mask-mode: luminance;
		mask-mode: luminance;
		margin-top: -7em;
		padding: 7rem 0;

		@include phone-only {
			// min-height: 30vh;
		}


		&.bg-none {
			background-color: $default-background-color;
		}

		.container {
			display: flex;
			align-items: center;
			position: relative;

			@include phone-only {
				display: block;
			}
		}

		.featured-image {
			width: 50%;
			padding-right: 5%;

			@include phone-only {
				width: 100%;
				padding: 0;
				margin: 0 0 5rem 0;
				position: relative;
				z-index: 0;
			}

			.project-image {

			}

			img {
				width: 100%;
				height: auto;
			}
		}
		.article-header {
			flex: 1;

			@include phone-only {
				position: relative;
				z-index: 200;
				@include inverse-colors;
				background: rgba( $dark, 0.8 );
				margin: 0 -6%;
				padding: 5px 6%;
				text-align: center;

				h3 {
					margin: 0.5rem 0 3rem 0;
				}
			}

			.title {
				span.portfolio-subtitle {
					display: block;
					font-size: 40%;
					font-weight: 400;
					opacity: 0.85;
				}
			}
		}

		&:first-of-type {
			min-height: 85vh;
			margin-top: 0;
			padding-top: 0;
		}

		&:nth-child(even) {
			.container {
				flex-direction: row-reverse;

				.featured-image {
					padding-right: 0;
					padding-left: 5%;

					@include phone-only {
						padding-left: 0;
					}
				}
			}
		}
	}
}