.post-type-archive-portfolio {
	.page-title {
		span.smaller {
			display: none;
		}
	}
}
.archive-list {
	article.portfolio {
		min-height: 99vh;
		display: flex;
		align-items: center;
		-webkit-mask-image: linear-gradient(transparent 0, black 7em);
		mask-image: linear-gradient(transparent 0, black 7em);
		-webkit-mask-mode: luminance;
		mask-mode: luminance;
		margin-top: -7em;
		padding: 5rem 0;

		&.bg-none {
			background-color: $default-background-color;
		}

		.container {
			display: flex;
			align-items: center;
			position: relative;
		}

		.featured-image {
			width: 50%;
			padding-right: 5%;

			.project-image {

			}

			img {
				width: 100%;
				height: auto;
			}
		}
		.article-header {
			flex: 1;

			.title {
				span.portfolio-subtitle {
					display: block;
					font-size: 40%;
					font-weight: 400;
					opacity: 0.85;
				}
			}
		}

		&:first-of-type {
			min-height: 85vh;
			margin-top: 0;
		}

		&:nth-child(even) {
			.container {
				flex-direction: row-reverse;

				.featured-image {
					padding-right: 0;
					padding-left: 5%;
				}
			}
		}
	}
}